<footer>
    
    <hr />
    <div class="span1">&nbsp;</div>
    <div class="span5">
        <p align="center"><a href="/va-developer/legal/terms-of-use.html">Terms of Use</a></p>
    </div>
    <div class="span5">
        <p align="center"><a href="/va-developer/legal/privacy-policy.html">Privacy Policy</a></p>
    </div>
    <div class="span5">
        <p align="center"><a href="/va-developer/legal/branding-guidelines.html">Branding Guidelines</a></p>
    </div>    
    <div class="span1">&nbsp;</div                       

</footer>
    
