<header>
<a href="https://github.com/kinlane/va-developer"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1050;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/va-developer/">Developers @ VA</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/va-developer/">Home</a></li>
                    <li><a href="/va-developer/api/">APIs</a></li>
                    <li><a href="/va-developer/data/">Data</a></li>
                    <li><a href="/va-developer/code/">Code</a></li>
                    <li><a href="/va-developer/gallery/">Gallery</a></li>
                    <li><a href="/va-developer/support/">Support</a></li>
                    <li><a href="/va-developer/roadmap/">Roadmap</a></li>
                    <li><a href="/va-developer/blog/">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</header>
